@model Presupuesto

<form asp-controller="Presupuesto" asp-action="CrearPresupuesto">
    <div class="form-group">
        <label asp-for="@Model.NombreDestinatario"></label>
        <input asp-for="@Model.NombreDestinatario" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>