@model Presupuesto

<form asp-controller="Presupuesto" asp-action="CrearPresupuesto">
    <div class="form-group">
        <label asp-for="@Model.Cliente"></label>
        <input asp-for="@Model.Cliente" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>